### Step 1. Import the necessary libraries

In [3]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [6]:
users= df = pd.read_csv("u.user.txt", sep='|')
users.head(5)

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

### Step 4. Discover what is the mean age per occupation

In [5]:
users.head(5)
occ= df.groupby(['occupation'])
age= occ['age'].mean()
print(age)

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [30]:
gender= occ['gender'].value_counts().unstack()
male_ratio= gender['M']/gender['F']
male_ratio= male_ratio.sort_values(ascending=False)
print(male_ratio)

occupation
engineer         32.500000
technician       26.000000
retired          13.000000
programmer       10.000000
executive         9.666667
scientist         9.333333
entertainment     8.000000
lawyer            5.000000
salesman          3.000000
educator          2.653846
student           2.266667
other             1.916667
marketing         1.600000
writer            1.368421
none              1.250000
administrator     1.194444
artist            1.153846
librarian         0.758621
healthcare        0.454545
homemaker         0.166667
doctor                 NaN
dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [13]:
max_age= occ['age'].max()
min_age= occ['age'].min()
print(max_age, min_age)

occupation
administrator    70
artist           48
doctor           64
educator         63
engineer         70
entertainment    50
executive        69
healthcare       62
homemaker        50
lawyer           53
librarian        69
marketing        55
none             55
other            64
programmer       63
retired          73
salesman         66
scientist        55
student          42
technician       55
writer           60
Name: age, dtype: int64 occupation
administrator    21
artist           19
doctor           28
educator         23
engineer         22
entertainment    15
executive        22
healthcare       22
homemaker        20
lawyer           21
librarian        23
marketing        24
none             11
other            13
programmer       20
retired          51
salesman         18
scientist        23
student           7
technician       21
writer           18
Name: age, dtype: int64

### Step 7. For each combination of occupation and gender, calculate the mean age. Also print this without hierarchical indexing

In [23]:
group= users.groupby(['occupation', 'gender'])
mean_age= group['age'].mean().unstack()
print(mean_age)

gender                 F          M
occupation
administrator  40.638889  37.162791
artist         30.307692  32.333333
doctor               NaN  43.571429
educator       39.115385  43.101449
engineer       29.500000  36.600000
entertainment  31.000000  29.000000
executive      44.000000  38.172414
healthcare     39.818182  45.400000
homemaker      34.166667  23.000000
lawyer         39.500000  36.200000
librarian      40.000000  40.000000
marketing      37.200000  37.875000
none           36.500000  18.600000
other          35.472222  34.028986
programmer     32.166667  33.216667
retired        70.000000  62.538462
salesman       27.000000  38.555556
scientist      28.333333  36.321429
student        20.750000  22.669118
technician     38.000000  32.961538
writer         37.631579  35.346154

### Step 8.  For each occupation present the percentage of women and men

In [15]:
gender= occ['gender'].value_counts(normalize=True).unstack()
print(gender)

gender                F         M
occupation
administrator  0.455696  0.544304
artist         0.464286  0.535714
doctor              NaN  1.000000
educator       0.273684  0.726316
engineer       0.029851  0.970149
entertainment  0.111111  0.888889
executive      0.093750  0.906250
healthcare     0.687500  0.312500
homemaker      0.857143  0.142857
lawyer         0.166667  0.833333
librarian      0.568627  0.431373
marketing      0.384615  0.615385
none           0.444444  0.555556
other          0.342857  0.657143
programmer     0.090909  0.909091
retired        0.071429  0.928571
salesman       0.250000  0.750000
scientist      0.096774  0.903226
student        0.306122  0.693878
technician     0.037037  0.962963
writer         0.422222  0.577778